:root { 
--black_900_7f:#0000007f; 
--gray_50_01:#fcfcfc; 
--blue_A400_01:#1977f3; 
--gray_50_02:#f5fffe; 
--red_600:#e33e2b; 
--blue_A400:#1877f2; 
--indigo_400_16:#4b8ecc16; 
--green_900:#224f34; 
--green_A100:#c2efd4; 
--red_400_19:#cc4b4b19; 
--pink_A100:#eb6db5; 
--black_900_01:#030303; 
--teal_700:#0f7777; 
--gray_400_ad:#d1c7c7ad; 
--deep_purple_50_7e:#eee0f97e; 
--green_A100_01:#a3f3be; 
--blue_gray_900_01:#2d2d2d; 
--blue_gray_900:#373737; 
--pink_300:#ca4c96; 
--black_900_4c:#0000004c; 
--gray_600:#6e6e6e; 
--gray_400:#bebebe; 
--blue_gray_100:#d0d0d0; 
--gray_100_7e:#f3eff67e; 
--gray_800:#454545; 
--blue_50_00:#e7edff00; 
--black_900_0c:#0000000c; 
--blue_50:#e7edff; 
--deep_purple_50:#e8e4ff; 
--gray_400_01:#cacaca; 
--green_900_01:#224e34; 
--indigo_800_cc:#393280cc; 
--purple_50_7e:#f4e8f37e; 
--cyan_600:#1ca3c1; 
--white_A700:#ffffff; 
--indigo_800:#393280; 
--cyan_400:#2cc5c5; 
--deep_orange_50:#ffe5e5; 
--blue_gray_50:#edf0f8; 
--gray_500_3f:#9c9c9c3f; 
--red_300:#d46f77; 
--red_500:#ed553b; 
--green_800:#267d49; 
--deep_purple_300:#916bbf; 
--gray_50:#f6f4ff; 
--green_A400:#0fff6f; 
--black_900_1e:#0000001e; 
--red_50:#fff0f0; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--white_A700_35:#ffffff35; 
--blue_gray_800:#173f5f; 
--black_900_26:#00000026; 
--pink_200:#ee86c3; 
--indigo_800_63:#39328063; 
--gray_500_3f_01:#9a9a9a3f; 
--gray_700:#4e6e4e; 
--green_800_01:#267044; 
--amber_400:#f5d425; 
--blue_gray_400:#888888; 
--gray_300:#e9e7df; 
--gray_300_02:#e4e4e4; 
--gray_300_01:#e0e0e0; 
--white_A700_01:#fefefe; 
--cyan_900:#164b69; 
}